*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-white);
    
}
h2,h1{
    color:var(--primary-blue)
}
a{
    color: var(--secondary-dark-blue);
    /* removes the line under the links */
    text-decoration: none; 
}
footer{
    display: flex;
    /* center items */
    justify-content: center;
}


:root {
    /* light mode */
  --primary-blue: #1E90FF;
  --secondary-dark-blue: #104E8B;
  --accent-light-blue: #ADD8E6;
  --background-white: #ffffffd3;
  --text-black: #000000;
  --neutral-gray: #A9A9A9;

  /* dark mode */
  --background-dark: #121212;
  --text-light: #E0E0E0;
  --neutral-gray-dark: #303030;
}
/* IDs */

