* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
    background-color: var(--background-white);
}
:root {
  /* light mode */
  --primary-blue: #1e90ff;
  --secondary-dark-blue: #104e8b;
  --accent-light-blue: #add8e6;
  --background-white: #EAEAEA;
  --text-black: #000000;
  --neutral-gray: #a9a9a9;
  --Light-mode-yellow: #D4A017;

  /* dark mode */
  --background-dark: #121212;
  --text-light: #e0e0e0;
  --neutral-gray-dark: #303030;
  --dark-mode-yellow: #FFC107;
}
/* IDs */


h2,
h1 {
  color: var(--primary-blue);
}
h3{
    color: var(--Light-mode-yellow);
}
a {
  color: var(--text-light);
  /* removes the line under the links */
  text-decoration: none;
}
footer {
  display: flex;
  /* center items */
  justify-content: center;
}
button{
    background-color: var(--primary-blue);
    color: var(--text-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;

}
#projects-btn{
    background-color: var(--primary-blue);
    color: var(--text-white);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 50rem;
    height: 20rem;
    font-size: 6rem;
}
/* Styling for the navigation container */
.nav-container {
  padding: 10px 0;
}

/* Styling for the navigation list */
.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

/* Styling for the navigation links */
.navigation li {
  margin: 0 2px; /* Add space between the links */
}

.navigation a {
  text-decoration: none;

  font-size: 16px;
  font-weight: 600;
  padding: 8px 15px;
  transition: background-color 0.3s; /* Smooth transition on hover */
}

/* Hover effect for links */
.navigation a:hover {
  background-color: #555; /* Slightly lighter shade on hover */
  border-radius: 4px;
}
