/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
}

header {
  background: #333;
  color: white;
  padding: 20px 20px;
}

section {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

footer {
  background: #333;
  color: white;
  padding: 20px;
}
/* ids */
#about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px; /* Space between child divs */
    min-height: 100vh;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #333;
}
 /* Styling for images */
 #about img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#portfolio{
    display: flex;
    justify-content: center;
    gap: 10%;
}

/* class */
.nav-container-css {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-container-css ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style: none;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background: #007bff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.project {
  background: #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  height: 500px;
  width: 500px;
}
